@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    background-color: rgb(243, 209, 146);
}

.container {
    // max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

#searchPhotosForm {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
margin-top: 20px;
// max-width: 1500px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
    text-align: center; /* Dodanie wycentrowania tekstu w polu tekstowym */
    border-style: none;
    height: 40px;
}

button {
    padding: 10px 20px;
    background-color: #d1d6d5;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    justify-content: center; /* Dodanie wycentrowania ikony i tekstu w przycisku */
    border-style: none;
    height: 40px;
}

button:hover {
    background-color: #fff;
}

button svg {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-right: 5px;
    fill: #fff;
}

button:hover svg {
    fill: #d1d6d5;
}

#photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 20px;
    height: 400px; /* przykładowa wysokość */
    
}

#photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}