@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  padding: 0;
  margin: 0 auto;
}

form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 186, 117);
    padding: 10px;
    transition: background-color 0.3s ease;
    border-bottom: solid 4px;
    border-color: rgb(174, 235, 112);
}

form.search-form input {
    border: none;
    outline: none;
    height: 40px;
    width: 160px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}

form.search-form button.search_button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
}

button.search_button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
}

body {
    background-color: rgb(168, 186, 117);
    transition: background-color 0.3s ease;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color:rgb(75, 77, 73);
}

.search-button:hover {
  background-color: #fff;
  fill: rgb(174, 235, 112);
  border-color: rgb(174, 235, 112);
}

.gallery {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: stretch;
}

.photo-card {
    width: 24%;
    height: 380px;
    background-color: rgb(233, 228, 192);
    box-shadow: 3px 3px 5px rgb(174, 235, 112);
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.photo-card:hover {
    transform: scale(1.05);
}

.img {
  border-radius: 5px 5px 0 0;
  display: block;
  height: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}

.info {
  height: calc(100% - 300px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.load_button {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 200px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(75, 77, 73);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load_button:hover {
  background-color: rgb(255, 251, 0);
}

.is-hidden {
  display: none;
}